[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/soeusanyen168
[access "refs/for/refs/*"]
	read = group user/soeusanyen168
	push = group user/soeusanyen168
	label-Code-Review = -2..+2 group user/soeusanyen168
	label-Verified = -1..+1 group user/soeusanyen168
	rebase = group user/soeusanyen168
	removeReviewer = group user/soeusanyen168
	submit = group user/soeusanyen168
[access "refs/heads/*"]
	read = group user/soeusanyen168
	create = group user/soeusanyen168
	push = +force group user/soeusanyen168
	pushMerge = group user/soeusanyen168
[access "refs/tags/*"]
	push = +force group user/soeusanyen168
	pushTag = group user/soeusanyen168
	pushSignedTag = group user/soeusanyen168
